[user]
  name = Sreeram Mittapalli
  email = sreeram.mittapalli@gmail.com
[github]
  user = ramrom
  token = token
[include]
  path = ~/.gitconfig.local
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = cyan
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[fetch]
  recurseSubmodules = true
[grep]
  extendedRegexp = true
[merge]
  ff = true
  conflictstyle = diff3
  verbosity = 3
[core]
  excludesfile = ~/.gitignore
  editor = vim --noplugin
[alias]
  co = checkout
  aa = add --all
  cm = commit .
  hist = log --pretty=format:\"%Cgreen%h%Creset %Cblue%ad%Creset %s%C(yellow)%d%Creset %Cblue[%an]%Creset\" --graph --d
  shas = log --pretty=format:\"%H\"
  alias = config --get-regexp ^alias\\.
