[user]
  name = Sreeram Mittapalli
  email = sreeram.mittapalli@gmail.com
[github]
  user = ramrom
  token = token
[include]
  path = ~/.gitconfig.local
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = magenta reverse
  local = magenta
  remote = green
[diff]
  colorMoved = zebra
[pull]
    ff = only
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
  oldMoved = cyan
  newMoved = cyan bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  navigate = true
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[fetch]
  recurseSubmodules = true
[grep]
  extendedRegexp = true
[merge]
  ff = true
  conflictstyle = diff3
  verbosity = 3
[core]
  excludesfile = ~/.gitignore
  editor = vim --noplugin
  pager = less
[alias]
  co = checkout
  aa = add --all
  au= add -u
  cm = commit -m
  b = branch
  d = diff
  dw = diff --color-words
  bvv = branch -vv

  # automatically checkout a GitHub PR as a local branch
  # https://help.github.com/articles/checking-out-pull-requests-locally/#modifying-an-inactive-pull-request-locally
  ghpr = "!f() { \
    // https://medium.com/@vitalyb/creating-powerful-git-aliases-3dfc0efc9a31 \
    trap 'echo ERROR: Operation failed; return' ERR; \
    [ -z \"$1\" ] && echo 'PR number required' && exit 1; \
    git fetch upstream pull/$1/head:github_pr_$1; \
    git co github_pr_$1; \
    }; f"

  ss = stash save
  sl = stash list
  sp = stash pop

  tagg = log --oneline --decorate --tags --no-walk
  logsc = log --stat --color
  hist = log --pretty=format:\"%Cgreen%h%Creset %Cblue%ad%Creset %s%C(yellow)%d%Creset %Cblue[%an]%Creset\" --graph --dense
  shas = log --pretty=format:\"%H\"
  cf    = config --list
  cfl   = config --local --list
  cfg   = config --global --list
  cfs   = config --system --list
  alias = config --get-regexp ^alias\\.
  slog = log --abbrev-commit --color=auto --decorate=short --pretty=oneline --graph --branches=* --remotes=* --tags=*
